:root {
    --color-background: #0A181B;
    --color-white: #FFFFFF;
    --color-white-90: rgba(255, 255, 255, 0.9);
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-white-5: rgba(255, 255, 255, 0.05);
    --color-cyan: rgb(48, 206, 194);
    --color-cyan-40: rgba(48, 206, 194, 0.4);
    --color-red: #D73246;
    --color-blue: #1E88E5;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.supporting-us {
    padding: 100px 0;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
    margin-bottom: 80px;
    color: var(--color-white);
}

.sponsor-block {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.sponsor-block.reverse {
    flex-direction: row-reverse;
}

.sponsor-image {
    flex: 1;
}

.sponsor-image img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 50px;
    display: block;
}

.sponsor-content {
    flex: 1;
}

.sponsor-tag {
    display: inline-block;
    background-color: var(--color-cyan);
    color: var(--color-background);
    padding: 7px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.sponsor-name {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    margin: 0 0 16px 0;
}

.sponsor-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-white-80);
    margin: 0 0 32px 0;
}

.sponsor-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sponsor-link {
    display: flex;
    align-items: center;
}

.sponsor-link img[alt="Shift"] {
    width: 86px;
    height: 58px;
}

.sponsor-link img[alt="Netmedia"] {
    width: 114px;
    height: 22px;
}

.navbar {
    padding: 16px 0px;
    position: fixed;
    width: 100%;
    background-color: var(--color-background);
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 142px;
    height: 48px;
    background-image: url(assets/dumpdays-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 92px;
}

.navbar-items {
    display: flex;
    padding: 0px 92px;
    gap: 40px;
}

.navbar-item {
    position: relative;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    padding-bottom: 4px;
}

.navbar-item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 0%;
    background-color: var(--color-cyan);
    transition: width 0.3s ease;
}

.navbar-item:hover::after{
    width: 100%;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    color: var(--color-white);
}

.navbar-checkbox {
    display: none;
}

@media(max-width: 1150px) {
    .navbar{
        padding: 24px 0;
    }

    .navbar-logo {
        width: 33px;
        height: 40px;
        background-image: url(assets/dumpdays-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 92px;
    }

    .navbar-item {
        color: var(--color-white);
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        text-decoration: none;
    }

    .navbar-items {
        display: none;
        width: 100%;
        height: 812px;
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        background-color: var(--color-background);
        position: absolute;
        margin: 56px 0;
        padding: 96px 0;
    }

    .navbar-toggle {
        display: block;
        margin-right: 92px;
    }

    .navbar-checkbox:checked + .navbar-toggle + .navbar-items {
        display: flex;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .supporting-us {
        padding: 60px 0;
    }

    .section-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 60px;
    }

    .sponsor-block {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 80px;
    }

    .sponsor-block.reverse {
        flex-direction: column;
    }

    .sponsor-image {
        width: 100%;
    }

    .sponsor-image img {
        height: 240px;
        border-radius: 30px;
    }

    .sponsor-name {
        font-size: 24px;
        line-height: 36px;
    }

    .sponsor-link img[alt="Shift"] {
        width: 67px;
        height: 45px;
    }

    .sponsor-link img[alt="Netmedia"] {
        width: 89px;
        height: 17px;
    }

    .navbar{
        padding: 24px 0;
    }

    .navbar-logo {
        width: 33px;
        height: 40px;
        background-image: url(assets/dumpdays-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 24px;
    }

    .navbar-item {
        color: var(--color-white);
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        text-decoration: none;
    }

    .navbar-items {
        display: none;
        width: 100%;
        height: 812px;
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        background-color: var(--color-background);
        position: absolute;
        margin: 56px 0;
        padding: 96px 0;
    }

    .navbar-toggle {
        display: block;
        margin-right: 24px;
    }

    .navbar-checkbox:checked + .navbar-toggle + .navbar-items {
        display: flex;
    }
}
